.jobSearch {
  background-image: url('../images/backgroundImg.png');
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border-radius: 8px;
  width: 100%;
  height: 138px;
}

.jobSearch__inputs {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 790px;
  height: 55px;
  align-items: center;
}

.inputs__left {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 19px;
}

.inputs__left > input {
  margin-left: 10px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #b9bdcf;
  width: 100%;
}

.button__search {
  width: 146px;
  height: 47px;
  background: #1e86ff;
  border-radius: 4px;
  margin: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .jobSearch__inputs {
    width: 590px;
  }
}

@media (max-width: 768px) {
  .jobSearch__inputs {
    width: 515px;
  }
  .button__search {
    width: 100px;
  }
}

@media (max-width: 635px) {
  .jobSearch__inputs {
    width: 315px;
  }
  .button__search {
    width: 100px;
  }
}
